     <footer class="foot">
         
     <li><%= link_to "Contact Us", contacts_new_path %></li>
     <div id="icons">
    <%= link_to image_tag("facebook.png", alt:"facebook Logo"), "https://www.facebook.com" %>
    <%= link_to image_tag("twitter.png", alt:"twitter Logo"), "https://www.instagram.com" %>
    <%= link_to image_tag("instagram.png", alt:"instagram Logo"), "https://twitter.com" %>
    </div>
    <%=render 'layouts/search'%>
     </footer>